body {
    background-image: url('https://i.imgur.com/NHY8O4b.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    background-color: rgb(69, 123, 189);
    box-shadow: 0px 0px 50px rgb(223, 214, 118);
    padding: 5px;
    border-radius: 1%;
}

td {
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 2px #fff;
    border-radius: 50%;
    padding: 10px;
    height: 70px;
    width: 70px;
}

button {
    background-color: rgb(213, 213, 213);
    border-color: rgb(51, 95, 208);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}

img {
    filter: contrast(120%) brightness(110%);
}
